/* BASE */
@import "base/font.css";
@import "base/tokens.css";
@import "base/reset.css";
@import "base/typography.css";
@import "base/layout.css";
@import "base/grid.css";

/* COMPONENTS */
@import "components/navigation.css";
@import "components/button.css";
@import "components/footer.css";
@import "components/musica.css";
@import "components/busca.css";

/* SECTIONS */
@import "sections/hero.css";
@import "sections/eventos.css";
@import "sections/home-about.css";

/* PAGES */
@import "pages/equipe.css";
@import "pages/guia.css";
@import "pages/contatos.css";
@import "pages/calendario.css";
