{{ define "header" }}{{ end }}

{{ define "main" }}

{{ partial "calendario/hero.html" . }}

<article class="pagina">

  {{ with .Params.eventos_lista }}
  <section class="eventos-lista section">
    <div class="container">
      <h2>Agenda Completa</h2>
      <div class="eventos-conteudo">
        {{ . | markdownify }}
      </div>
    </div>
  </section>
  {{ end }}

  {{ if .Content }}
  <section class="pagina-conteudo section">
    <div class="container">
      {{ .Content }}
    </div>
  </section>
  {{ end }}

</article>

{{ end }}
