{{ define "header" }}{{ end }}

{{ define "main" }}

{{ partial "calendario/hero.html" . }}

<article class="pagina">

  {{ with .Params.eventos_lista }}
  <section class="eventos-lista section">
    <div class="container">
      <div class="editorial-content">
        <h2>{{ i18n "calendar_full_agenda" }}</h2>
        {{ . | markdownify }}
      </div>
    </div>
  </section>
  {{ end }}

  {{ if .Content }}
  <section class="pagina-conteudo section">
    <div class="container">
      <div class="editorial-content">
        {{ .Content }}
      </div>
    </div>
  </section>
  {{ end }}

</article>

{{ end }}
