{{ define "main" }}
{{ if not .Params.feature_flags.page_enabled }}
  {{ partial "evento-kwanza/disabled.html" . }}
{{ else }}
  <article
    class="evento-kwanza"
    data-analytics-page-event="event_view"
    data-analytics-param-event-name="internacional_capoeira_kwanza">
    {{ partial "evento-kwanza/hero.html" . }}
    {{ partial "evento-kwanza/mestres.html" . }}
    {{ partial "evento-kwanza/programacao.html" . }}
    {{ partial "evento-kwanza/info.html" . }}
  </article>

  {{ partial "evento-kwanza/floating-whatsapp.html" . }}
  {{ partial "evento-kwanza/lightbox.html" . }}
  <script src="/js/internacional-capoeira-kwanza.js?v=20260520-2" defer></script>
{{ end }}
{{ end }}
