<section class="section">
  <div class="container equipe-grid">

    <div class="equipe-media"></div>

    <div class="equipe-conteudo">
      <h2>{{ i18n "home_about_title_1" }}</h2>

      <p>
        {{ i18n "home_about_p1_1" | safeHTML }}
      </p>

      <p>
        {{ i18n "home_about_p1_2" }}
      </p>

      <p>
        {{ i18n "home_about_p1_3" | safeHTML }}
      </p>
    </div>

  </div>
</section>

<section class="section">
  <div class="container equipe-grid">

    <div class="equipe-media"></div>

    <div class="equipe-conteudo">
      <h2>{{ i18n "home_about_title_2" }}</h2>

      <p>
        {{ i18n "home_about_p2_1" }}
      </p>

      <p>
        {{ i18n "home_about_p2_2" }}
      </p>
    </div>

  </div>
</section>

<!-- FAQ -->
<section class="section faq">
  <div class="container equipe-grid">

    <div class="equipe-media"></div>

    <div class="equipe-conteudo">
      <h2>{{ i18n "home_faq_title" }}</h2>

      <details>
        <summary>{{ i18n "faq_q1" }}</summary>
        <p>{{ i18n "faq_a1" }}</p>
      </details>

      <details>
        <summary>{{ i18n "faq_q2" }}</summary>
        <p>{{ i18n "faq_a2" }}</p>
      </details>

      <details>
        <summary>{{ i18n "faq_q3" }}</summary>
        <p>{{ i18n "faq_a3" }}</p>
      </details>

      <details>
        <summary>{{ i18n "faq_q4" }}</summary>
        <p>{{ i18n "faq_a4" }}</p>
      </details>

      <details>
        <summary>{{ i18n "faq_q5" }}</summary>
        <p>{{ i18n "faq_a5" }}</p>
      </details>

      <details>
        <summary>{{ i18n "faq_q6" }}</summary>
        <p>{{ i18n "faq_a6" }}</p>
      </details>
    </div>

  </div>
</section>

<section class="section">
  <div class="container equipe-grid">

    <div class="equipe-media"></div>

    <div class="equipe-conteudo">
      <h2>{{ i18n "home_cta_title" }}</h2>

      <p>
        {{ i18n "home_cta_text" }}
      </p>

      <a href="{{ relLangURL "contatos/" }}" class="btn-primary">
        {{ i18n "hero_cta" }}
      </a>
    </div>
  </div>
</section>